################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AutomatMachine.Api/bin/Debug/netcoreapp3.0
